{# Étendez ici le layout de base si vous en avez un #}
{% extends 'base.html.twig' %}

{% block title %}Profil de l'utilisateur{% endblock %}

{% form_theme passwordForm 'bootstrap_5_layout.html.twig' %}


{% block body %}

    <div class="row col-md-10 mx-auto">

        {{ form_start(passwordForm, { 'attr': {'class': 'row', 'novalidate': 'novalidate'} }) }}

            {{ form_row(passwordForm.oldPassword) }}
            {{ form_row(passwordForm.password) }}
            {{ form_row(passwordForm._token) }}

            <button type="submit" class="btn btn-success mt-3">Modifier mot de passe</button>

        {# render_rest : affiche pas le reste des autres champ dans mon formulaire #}
        {{ form_end(passwordForm) }}

    </div>

{% endblock %}
